body{
    background-color: #007ca6;
    color:aliceblue;
    margin-top: 60px;
}

.title {
  text-align: center;
  font-size: 50px;
  line-height: 10px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.hook {
    text-align: center;
    font-size: 20px;
    line-height: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 100;
    font-style: italic;
}

.inputImage {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 55px;
}

.block {
    display: block;
    text-align:center;
    /* width: 100%;
    background-color: #90c5d6; */
}

.box {
    text-align: center;
}